/**
 * Body
 * ----------------------------------------------------------------------------
 */
body {
  /*color: #141412;
  font-family: "IM Fell English SC", Helvetica, sans-serif;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  vertical-align: baseline;
  background-color: #425528;*/
  background-image: url("../bg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

